<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="<%= jhiPrefixDashed %>-<%= entityFileName %>-heading" data-cy="<%= entityClass %>CreateUpdateHeading" jhiTranslate="<%= i18nKeyPrefix %>.home.createOrEditLabel">Create or edit a <%= entityClassHumanized %></h2>
            <div class="form-grid p-fluid">
<%_ for (const field of fields) {
    const fieldName = field.fieldName;
    const fieldNameCapitalized = field.fieldNameCapitalized;
    const fieldNameHumanized = field.fieldNameHumanized;
    const fieldType = field.fieldType;
    const fieldTypeBlobContent = field.fieldTypeBlobContent;
    const id = !!field.id;
    const autoGenerate = field.autoGenerate;
    const readonly = !!field.id || !!field.readonly;
    let fieldInputType = 'text';
    let ngModelOption = '';
    const translationKey = field.fieldTranslationKey;
    if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal'].includes(fieldType)) {
        fieldInputType = 'number';
    } else if (fieldType === 'LocalDate') {
        fieldInputType = 'date';
    } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) {
        fieldInputType = 'datetime-local';
    } else if (fieldType === 'Boolean') {
        fieldInputType = 'checkbox';
    } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent !== 'text') {
        fieldInputType = 'hidden';
    }
_%>
                <div class="p-field p-grid">
    <%_ if (id && autoGenerate) { _%>
                    <ng-container *ngIf="editForm.get('<%= fieldName %>')!.value">
    <%_ } _%>
                    <label <%= jhiPrefix %>Translate="<%= translationKey %>" for="field_<%= fieldName %>" class="p-col-12 p-md-2"<% if (field.javadoc) { if (enableTranslation) { %> [pTooltip]="'<%= i18nKeyPrefix %>.help.<%= fieldName %>' | translate"<% } else { %> pTooltip="<%= field.javadoc %>"<% } } %>><%= fieldNameHumanized %></label>
                    <div class="p-col-12 p-md-10">
    <%_ if (field.fieldIsEnum) { _%>
                        <p-dropdown [options]="<%= field.fieldName %>Options!" name="<%= fieldName %>" formControlName="<%= fieldName %>" id="field_<%= fieldName %>" placeholder="Choose" <%_ if(!field.fieldValidateRules || !field.fieldValidateRules.includes('required')){ %> [showClear]="true"<%_ } _%><% if (id) { %> [readonly]="edit"<% } %>>
                            <ng-template let-<%= field.fieldName %> pTemplate="item">{{'<%= `${i18nKeyPrefix}.${field.fieldType}` %>.' + <%= field.fieldName %>.label | translate}}</ng-template>
                        </p-dropdown>
    <%_ } else { _%>
        <%_ if (fieldType === 'LocalDate') { _%>
                        <p-calendar id="field_<%= fieldName %>" formControlName="<%= fieldName %>" [showIcon]="true"></p-calendar>
        <%_ } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
                        <p-calendar id="field_<%= fieldName %>" formControlName="<%= fieldName %>" [showIcon]="true" [showTime]="true"></p-calendar>
        <%_ } else if (fieldTypeBlobContent === 'text') { _%>
                        <textarea pInputTextarea name="<%= fieldName %>" id="field_<%= fieldName %>"
                                  formControlName="<%= fieldName %>"></textarea>
        <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent !== 'text') { _%>
                        <p-fileUpload name="<%= fieldName %>" id="field_<%= fieldName %>" [showUploadButton]="false" (onSelect)="onFileSelect($event, '<%= fieldName %>')"<% if (fieldTypeBlobContent === 'image') { %> accept="image/*"<% } %>
                                      (onClear)="onFileRemove($event, '<%= fieldName %>')" (onRemove)="onFileRemove($event, '<%= fieldName %>')" [files]="<%= fieldName %>File?[<%= fieldName %>File]:[]"></p-fileUpload>
        <%_ } else if (fieldType === 'Boolean') { _%>
                        <p-inputSwitch name="<%= fieldName %>" id="field_<%= fieldName %>" formControlName="<%= fieldName %>"></p-inputSwitch>
        <%_ } else if (id && autoGenerate) { _%>
                        <input pInputText type="<%= fieldInputType %>" name="<%= fieldName %>" id="field_<%= fieldName %>" formControlName="<%= fieldName %>" readonly/>
        <%_ } else { _%>
                        <input pInputText type="<%= fieldInputType %>" name="<%= fieldName %>" id="field_<%= fieldName %>" formControlName="<%= fieldName %>"<% if (id) { %> [readonly]="edit"<% } %>/>
        <%_ } _%>
    <%_ } _%>
    <%_ if (field.fieldValidate === true) { _%>
                        <div class="validation-messages">
                            <ng-container *ngIf="editForm.get('<%= fieldName %>')!.invalid && (editForm.get('<%= fieldName %>')!.dirty || editForm.get('<%= fieldName %>')!.touched)">
        <%_ if (field.fieldValidateRules.includes('required')) { _%>
                                <p-message severity="error"
                                           *ngIf="editForm.get('<%= fieldName %>')!.errors!.required" [text]="'entity.validation.required' | translate">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('minlength')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.minlength" [text]="'entity.validation.minlength' | translate : { min: <%= field.fieldValidateRulesMinlength %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('maxlength')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.maxlength" [text]="'entity.validation.maxlength' | translate : { max: <%= field.fieldValidateRulesMaxlength %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('min')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.min" [text]="'entity.validation.min' | translate : { min: <%= field.fieldValidateRulesMin %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('max')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.max" [text]="'entity.validation.max' | translate : { max: <%= field.fieldValidateRulesMax %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('minbytes')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.minbytes" [text]="'entity.validation.minbytes' | translate : { min: <%= field.fieldValidateRulesMinbytes %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('maxbytes')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.maxbytes" [text]="'entity.validation.maxbytes' | translate : { max: <%= field.fieldValidateRulesMaxbytes %> }">
                                </p-message>
        <%_ } _%>
        <%_ if (field.fieldValidateRules.includes('pattern')) { _%>
                                <p-message severity="error"
                                       *ngIf="editForm.get('<%= fieldName %>')!.errors!.pattern" [text]="'entity.validation.pattern' | translate : { pattern: '<%= fieldNameHumanized %>' }">
                                </p-message>
        <%_ } _%>
        <%_ if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal', 'Duration'].includes(fieldType)) { _%>
                                <p-message severity="error"
                                    [hidden]="!editForm.get('<%= fieldName %>')!.errors!.number" [text]="'entity.validation.number' | translate">
                                </p-message>
        <%_ } _%>
        <%_ if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
                                <p-message severity="error"
                                    [hidden]="!editForm.get('<%= fieldName %>')!.errors!.ZonedDateTimelocal" [text]="'entity.validation.ZonedDateTimelocal' | translate">
                                </p-message>
        <%_ } _%>
                            </ng-container>
                    </div>
    <%_ } _%>
                    </div>
<%_ if (id && autoGenerate) { _%>
                    </ng-container>
<%_ } _%>
                </div>
<%_ } _%>
<%_ for (const relationship of relationships.filter(rel => rel.ownerSide && rel.otherEntity.primaryKey)) {
    const otherEntity = relationship.otherEntity;
    const relationshipType = relationship.relationshipType;
    const ownerSide = relationship.ownerSide;
    const otherEntityName = relationship.otherEntityName;
    const otherEntityNamePlural = relationship.otherEntityNamePlural;
    const otherEntityNameCapitalized = relationship.otherEntityNameCapitalized;
    const relationshipName = relationship.relationshipName;
    const relationshipNameHumanized = relationship.relationshipNameHumanized;
    const relationshipFieldName = relationship.relationshipFieldName;
    const relationshipFieldNamePlural = relationship.relationshipFieldNamePlural;
    const otherEntityField = relationship.otherEntityField;
    const otherEntityFieldCapitalized = relationship.otherEntityFieldCapitalized;
    const relationshipRequired = relationship.relationshipRequired;
    const translationKey = `${i18nKeyPrefix}.${relationshipName}`;
_%>
    <%_ if (relationshipType === 'many-to-one' || relationshipType === 'one-to-one') { _%>
        <%- include('./relationship_form_group_template', {relationship, frontendAppName, path: [], first: true, previousRelationship: null, id: relationship.id}); -%>
    <%_ } else if (relationshipType === 'many-to-many') { _%>
                <div class="p-field p-grid">
                    <label jhiTranslate="<%= translationKey %>" for="field_<%= relationshipFieldNamePlural %>" class="p-col-12 p-md-2"><%= relationshipNameHumanized %></label>
                    <div class="p-col-12 p-md-10">
                        <p-multiSelect id="field_<%= relationshipFieldNamePlural %>" name="<%= relationshipFieldNamePlural %>" formControlName="<%=relationshipFieldNamePlural %>" dataKey="<%= otherEntity.primaryKey.name %>"<% if(relationship.otherEntity.pagination !== 'no') { %>
                                       [lazySelectedOptions]="<%= relationshipName %>SelectedOptions!" [lazy]="true" [rows]="10" (onLazyLoad)="on<%= otherEntityNameCapitalized %>LazyLoadEvent($event)"<% } %>
                                       [options]="<%= relationshipName %>Options!" optionLabel="<%=otherEntityField %>">
                        </p-multiSelect>
        <%_ if (relationshipRequired) { _%>
                        <div class="validation-messages">
                            <ng-container *ngIf="editForm.get('<%=relationshipFieldNamePlural %>')!.invalid && (editForm.get('<%=relationshipFieldNamePlural %>')!.dirty || editForm.get('<%=relationshipFieldNamePlural %>')!.touched)">
                                <p-message severity="error"
                                           *ngIf="editForm.get('<%=relationshipFieldNamePlural %>')!.errors!.required" [text]="'entity.validation.required' | translate">
                                </p-message>
                            </ng-container>
                        </div>
        <%_ } _%>
                    </div>
                </div>
    <%_ } _%>
<%_ } _%>
            </div>

            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="p-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
