<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
  <h2>
    <span id="user-management-page-heading" <%= jhiPrefix %>Translate="userManagement.home.title" data-cy="userManagementPageHeading">Users</span>
    <button pButton class="float-right jh-create-entity" [routerLink]="['./new']" icon="pi pi-plus" [label]="'userManagement.home.createLabel' | translate"></button>
  </h2>
    <div class="table-responsive">
        <p-table #userTable [value]="users!" [rowTrackBy]="trackId" [responsive]="true" [lazy]="true" [rows]="itemsPerPage" [totalRecords]="totalItems!" [loading]="loading" sortMode="multiple" [lazyLoadOnInit]="false" [paginator]="true" (onLazyLoad)="onLazyLoadEvent($event)">
            <ng-template pTemplate="header">
            <tr>
                <th<% if (databaseTypeCassandra) { %> pSortableColumn="id"<% } %>><span <%= jhiPrefix %>Translate="global.field.id">ID</span><% if (databaseType !== 'cassandra') { %><p-sortIcon field="createdBy"></p-sortIcon><% } %></th>
                <th<% if (databaseTypeCassandra) { %> pSortableColumn="login"<% } %>><span <%= jhiPrefix %>Translate="userManagement.login">Login</span><% if (databaseType !== 'cassandra') { %><p-sortIcon field="createdBy"></p-sortIcon><% } %></th>
                <th<% if (databaseTypeCassandra) { %> pSortableColumn="email"<% } %>><span <%= jhiPrefix %>Translate="userManagement.email">Email</span><% if (databaseType !== 'cassandra') { %><p-sortIcon field="createdBy"></p-sortIcon><% } %></th>
                <th></th>
<%_ if (enableTranslation) { _%>
                <th scope="col" <% if (databaseTypeCassandra) { %> pSortableColumn="langKey"<% } %>> <span <%= jhiPrefix %>Translate="userManagement.langKey">Lang Key</span><% if (databaseType !== 'cassandra') { %><p-sortIcon field="createdBy"></p-sortIcon><% } %></th>
<%_ } _%>
                <th scope="col"><span <%= jhiPrefix %>Translate="userManagement.profiles">Profiles</span></th>
                <%_ if (databaseType !== 'cassandra') { _%>
                <th pSortableColumn="createdDate"><span <%= jhiPrefix %>Translate="userManagement.createdDate">Created Date</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="lastModifiedBy"><span <%= jhiPrefix %>Translate="userManagement.lastModifiedBy">Last Modified By</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="lastModifiedDate"><span <%= jhiPrefix %>Translate="userManagement.lastModifiedDate">Last Modified Date</span><p-sortIcon field="createdBy"></p-sortIcon></th>
<%_ } _%>
          <th scope="col"></th>
        </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
            <tr>
                <td><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td>
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>
                    <button pButton class="p-button-danger" (click)="setActive(user, true)" *ngIf="!user.activated"
                            [label]="'userManagement.deactivated' | translate"></button>
                    <button pButton class="p-button-success" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="!currentAccount || currentAccount.login === user.login" [label]="'userManagement.activated' | translate"></button>
          </td>
                <% if (enableTranslation) { %><td>{{user.langKey}}</td><% } %>
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </div>
          </td>
<%_ if (!databaseTypeCassandra) { _%>
          <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ user.lastModifiedBy }}</td>
          <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
<%_ } _%>
          <td>
            <div class='btn-group flex-btn-group-container'>
                <p-button type="submit" [routerLink]="['./', user.login!, 'view']" icon="pi pi-eye" styleClass="p-button-info"> </p-button>
                <p-button
                    type="submit"
                    [routerLink]="['./', user.login!, 'edit']"
                    icon="pi pi-pencil"
                    styleClass="p-button-warning"
                    data-cy="entityEditButton"
                >
                </p-button>
                <p-button type="submit" (click)="delete(user.login)" icon="pi pi-times" styleClass="p-button-danger" data-cy="entityDeleteButton">
                </p-button>
            </div>
          </td>
        </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
